extends layout

block content
  .w3-container
    h1=entidade.designacao
    h2 Info da entidade
    p=anterior
    table.w3-table-all
            tr
                th Estado
                th Sigla
                th Sioe
                th Designação
                th Internacional
                tr
                    td= entidade.estado
                    td= entidade.sigla
                    td= entidade.sioe
                    td= entidade.designacao
                    td= entidade.internacional
    .w3-container
    h2 Tipologias que pertence
    table.w3-table-all
            tr
                th Sigla
                th Designação
                th Id
            each tip in tipologias
                tr
                    td
                        a(href="http://localhost:3000/tipologia/"+tip.id)=tip.sigla
                    td
                        a(href="http://localhost:3000/tipologia/"+tip.id)=tip.designacao
                    td
                        a(href="http://localhost:3000/tipologia/"+tip.id)=tip.id
    .w3-container
    h2 Processos que é dona
    table.w3-table-all
            tr
                th Codigo
                th Titulo
            each d in dona
                tr
                    td
                        a(href="http://clav.dglab.gov.pt/classes/consultar/c"+d.codigo)=d.codigo
                    td
                        a(href="http://clav.dglab.gov.pt/classes/consultar/c"+d.codigo)=d.titulo
    .w3-container
    h2 Processos que é Participante
    table.w3-table-all
            tr
                th TipoPar
                th Codigo
                th Titulo
            each p in participante
                tr
                    td
                        a(href="http://clav.dglab.gov.pt/classes/consultar/c"+p.codigo)=p.tipoPar
                    td
                        a(href="http://clav.dglab.gov.pt/classes/consultar/c"+p.codigo)=p.codigo
                    td
                        a(href="http://clav.dglab.gov.pt/classes/consultar/c"+p.codigo)=p.titulo
    .w3-container
        p 
            a(href="http://localhost:3000/") Voltar ao inicio
